@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.LabelIcon</title>
</head>
<body>
    <div id="body">
        <input id="IDRole" type="text" value="@(ViewBag.Role.IDRole)" hidden />

        <input id="PathApp" type="text" value="@(ViewBag.Role.PathApp)" hidden />

        <input id="View" type="text" value="@(ViewBag.Role.BindView)" hidden />

        <input id="New" type="text" value="@(ViewBag.Role.BindNew)" hidden />

        <input id="Edit" type="text" value="@(ViewBag.Role.BindEdit)" hidden />

        <input id="Delete" type="text" value="@(ViewBag.Role.BindDelete)" hidden />

        <input id="Print" type="text" value="@(ViewBag.Role.BindPrintable)" hidden />
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-8">
                <h2>@Resources.Resource.LabelIcon</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" onclick="utility._loadMenu('../Dashboards/Home')">@Resources.Resource.LabelHome</a>
                    </li>
                    <li class="active" id="ftr-name">
                        <strong>@Resources.Resource.LabelIcon</strong>
                    </li>
                </ol>
            </div>
            <div class="ibox-tools">
                <a>
                    <i class="fa fa-question"></i>
                </a>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row" id="render-body">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <button class="btn btn-primary" type="button" id="btnAddRow"><i class="fa fa-plus"></i> @Resources.Resource.ButtonAdd</button>
                            <button class="btn btn-primary" type="button" id="btnEditRow"><i class="fa fa-pencil"></i> @Resources.Resource.ButtonEdit</button>
                            <button class="btn btn-outline btn-default" type="button" id="btnDeleteRow"><i class="fa fa-trash"></i> @Resources.Resource.ButtonDelete</button>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Search</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" data-toggle="collapse" data-target="#search"><i class="fa fa-chevron-down"></i></a>
                                @*<button class="btn dropdown-toggle left-element btn-primary" data-toggle="dropdown">@Resources.Resource.ButtonSearch <span class="caret"></span></button>*@
                            </div>
                        </div>
                        <div id="search" class="ibox-content collapse">
                            <div id="searchZ-box" class="left-element">
                                <form class="form" id="formLogin">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.IconLabelIconName</label>
                                            <div class="col-sm-9 col-lg-8">
                                                <input name="customSearch" id="customSearch" placeholder="@Resources.Resource.IconLabelIconName" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.LabelIsDefault</label>
                                            <div class="col-sm-9 col-lg-8 checkbox">
                                                <input type="checkbox" value="false" id="IsDefault-src" class="i-checks">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="button-custom-style col-sm-12">
                                                <button type="button" id="frm-lov-btn-src" class="btn btn-primary">@Resources.Resource.ButtonRetrieve</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        @*<div class="ibox-title">
                                <h5>@Resources.Resource.LabelIcon</h5>
                                <div class="ibox-tools">
                                    <i class="fa fa-question"></i>
                                </div>
                            </div>*@
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-lg-4 control-label"><span class="pull-left">Show</span></label>
                                            <div class="col-sm-9 col-lg-8">
                                                <div class="input-group">
                                                    <select class="form-control left-element" name="page_length" id="page-length">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                    <span class="input-group-addon">Entries</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="input-group col-sm-8">

                                  <div class="form-inline">
                                      <div class="form-group">
                                          <div class="input-group ">
                                              <input class="form-control m-b " type="text" placeholder="Search..." id="customSearch">
                                              <span class="input-group-btn">
                                                  <button class="btn btn-primary" type="button" id="frm-lov-btn-src"><i class="fa fa-search"></i></button>
                                              </span>
                                          </div>
                                       </div>
                                      <div class="form-group">

                                              <select class="form-control" name="page_length" id="page-length">
                                                  <option value="10">10</option>
                                                  <option value="25">25</option>
                                                  <option value="50">50</option>
                                                  <option value="100">100</option>
                                              </select>

                                      </div>
                                          <div class="btn-group">
                                              <button class="btn btn-primary " type="button" id="btnAddRow"><i class="fa fa-plus-square-o"></i> Add</button>
                                              <button class="btn  btn-primary " type="button" id="btnEditRow"><i class="fa fa-paste"></i> Edit</button>
                                              <button class="btn  btn-primary " type="button" id="btnDeleteRow"><i class="fa fa-trash"></i> Delete</button>
                                          </div>
                                      </div>
                                </div>*@
                            <div id="MessageIcon"></div>
                            @*<div class="alert alert-danger alert-dismissable " aria-hidden="true" style="display :none;" id="errorDiv">
                                    <button class="close" type="button" data-ng-hide="alert" aria-hidden="true">×</button>
                                    <div id="errorMsgDiv"></div>
                                </div>*@
                            <table id="TIcon" class="table table-striped table-bordered table-hover dataTables-example custom_table_scroll site-table">
                                <thead>
                                    <tr>
                                        <th>@Resources.Resource.IconLabelIconName</th>
                                        <th>@Resources.Resource.IconLabelIconType</th>
                                        <th>@Resources.Resource.IconLabelIconCategory</th>
                                        <th>@Resources.Resource.IconLabelIconDescription</th>
                                        <th>@Resources.Resource.IconLabelIconClass</th>
                                        <th class="sm-width">@Resources.Resource.LabelIsDefault</th>
                                        <th class="sm-width">@Resources.Resource.LabelPreview</th>

                                    </tr>
                                </thead>

                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="CreateModal" class="modal inmodal" aria-hidden="true" role="dialog" tabindex="-2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content animated fadeIn ">
                    <div class="modal-header">
                        <h3 class="modal-title">@Resources.Resource.LabelIcon - @Resources.Resource.ButtonAdd</h3>
                        <div class="ibox-tools">
                            <a class="active-tooltips">
                                <span class="tooltipster-icon">
                                    <i class="fa fa-question "></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-body" id="modal-Render-Create">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div id="EditModal" class="modal inmodal" aria-hidden="true" role="dialog" tabindex="-2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content animated fadeIn ">
                    <div class="modal-header">
                        <h3 class="modal-title">@Resources.Resource.LabelIcon - @Resources.Resource.ButtonEdit</h3>
                        <div class="ibox-tools">
                            <a class="active-tooltips">
                                <span class="tooltipster-icon">
                                    <i class="fa fa-question "></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-body" id="modal-Render-Edit">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div id="DeleteModal" class="modal inmodal" aria-hidden="true" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content animated fadeIn ">
                    <div class="modal-header">
                        <h3 class="modal-title">@Resources.Resource.LabelIcon - @Resources.Resource.ButtonDelete</h3>
                        <div class="ibox-tools">
                            <a class="active-tooltips">
                                <span class="tooltipster-icon">
                                    <i class="fa fa-question "></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-body" id="modal-Render">

                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-12 col-sm-9 col-md-10 delete-caption">
                            @Resources.Resource.LabelDelete
                        </div>
                        <div class=" col-xs-12 col-sm-3 col-md-2 pull-right">

                            <input value="@Resources.Resource.ButtonNo" type="button" class="btn btn-outline btn-default" id="frm-cancel-btn" />
                            <input value="@Resources.Resource.ButtonYes" type="button" class="btn btn-primary" id="frm-submit-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.getScript("../Scripts/main/Icon.js", {
                cache: true
            }).done(
                function () {
                    var param = {};
                    param.attribute = {

                        "Info": "@Resources.Resource.LabelShowing",
                        "Page": "@Resources.Resource.LabelPage",
                        "Of": "@Resources.Resource.LabelOf",
                        "ZeroResult": "@Resources.Resource.LabelZeroResult",
                        "InfoEmpty": "@Resources.Resource.LabelInfoEmpty",
                        "Previous": "@Resources.Resource.LabelPrev",
                        "Next": "@Resources.Resource.LabelNext",
                        "Last": "@Resources.Resource.LabelLastPage",
                        "First": "@Resources.Resource.LabelFirstPage",
                        "To": "@Resources.Resource.LabelTo",
                        "Entries": "@Resources.Resource.LabelEntries",
                        "Warning": "@Resources.Resource.LabelWarning",
                        "PickOneData": "@Resources.Resource.AlertPickOneData",
                        "CannotDelete": "@Resources.Resource.AlertCannotDelete",

                        "CanDelete": "@ViewBag.Role.BindDelete.ToString()",
                        "CanSave": "@ViewBag.Role.BindNew.ToString()",
                        "CanEdit": "@ViewBag.Role.BindEdit.ToString()",
                        "CanView": "@ViewBag.Role.BindView.ToString()",
                        "CanPrint": "@ViewBag.Role.BindPrintable.ToString()"
                    };
                    param.history = {
                        "Keyword": "@ViewBag.historyKeyword",
                        "isDefault": "@ViewBag.historyisDefault",
                    };
                    Icon.init(param);
                }
            )
        })
    </script>
</body>

</html>