@model HartamaViewDashboard.Models.CategoryModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.labelCategory</title>
</head>
<body>
    @*<input id="IDRole" type="text" value="@(ViewBag.Role.IDRole)" hidden />

        <input id="PathApp" type="text" value="@(ViewBag.Role.PathApp)" hidden />

        <input id="View" type="text" value="@(ViewBag.Role.BindView)" hidden />

        <input id="New" type="text" value="@(ViewBag.Role.BindNew)" hidden />

        <input id="Edit" type="text" value="@(ViewBag.Role.BindEdit)" hidden />

        <input id="Delete" type="text" value="@(ViewBag.Role.BindDelete)" hidden />

        <input id="Print" type="text" value="@(ViewBag.Role.BindPrintable)" hidden />*@

    <div id="body">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-8">
                <h2>@Resources.Resource.labelCategory</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" onclick="utility._loadMenu('../Dashboards/Home')">@Resources.Resource.LabelHome</a>
                    </li>
                    <li class="active" id="ftr-name">
                        <strong>@Resources.Resource.labelCategory</strong>
                    </li>
                </ol>
            </div>
            <div class="ibox-tools">
                <a><i class="fa fa-question"></i></a>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row" id="render-body">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins" id="box-content">
                        <div class="ibox-title">
                            <h5> @Resources.Resource.DataList </h5>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div id="CategoryMessage" class="col-sm-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" type="button" id="btnAddCategory"><i class="fa fa-plus"></i> @Resources.Resource.ButtonAdd </button>
                                    </div>

                                   
                                </div>

                            
                            </div>

                          
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Keyword" class="sr-only"> Keyword </label>
                                    <input type="text" placeholder="Keyword" id="keywordCategory" class="form-control">
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-white" id="btnSearchCategory">Search</button>
                                </div>
                                <div class="col-md-12" >
                                    <div class="alert alert-danger alert-dismissable " aria-hidden="true" style="display :none;" id="errorDivUpdate">
                                        <button class="close" type="button" data-ng-hide="alert" aria-hidden="true">×</button>
                                        <div id="errorMsgDivUpdate"></div>
                                    </div>
                                    <div class="alert alert-success" id="successDiv"></div>
                                    <input type="hidden" id="hiddenIDFeature" value="" />
                                    <table id="CATEGORYCATEGORY" class="table table-striped table-bordered table-hover dataTables-example custom_table_scroll" tabindex="1">
                                        <thead>
                                            <tr>
                                                <th>@Resources.Resource.labelCategoryName</th>
                                                <th>@Resources.Resource.labelCategoryDesc</th>
                                                <th>@Resources.Resource.LabelUserEntry</th>
                                                <th>@Resources.Resource.LabelDateEntry</th>
                                                <th>@Resources.Resource.LabelUserLastMaintenance</th>
                                                <th>@Resources.Resource.LabelDateLastMaintenance</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox float-e-margins" id="CategoryInformation">
                        <div class="ibox-title">
                            <h3>@Resources.Resource.Information</h3>
                        </div>
                        <div class="ibox-content">

                            @using (Html.BeginForm("Create", null, FormMethod.Post, new { name = "Form-Category", id = "Form-Category", @enctype = "multipart/form-data", @xxx = "Create" }))
                            {
                                <div class="form-horizontal">
                                    @Html.HiddenFor(model => Model.CategoryID)

                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.labelCategoryName</label>
                                        <div class="col-sm-9 col-lg-8">
                                            @Html.TextBoxFor(model => Model.CategoryName, new { @class = "form-control", @required = "required", @MaxLength = "20" })
                                        </div>
                                    </div>
                                    
                                    


                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.labelCategoryDesc</label>
                                        <div class="col-sm-9 col-lg-8">
                                            @Html.TextAreaFor(model => Model.CategoryDescription, new { @class = "form-control", @MaxLength = "500" })
                                        </div>
                                    </div>

                                    <div id="userinfo">
                                        <div class="form-group" id="divuserentry">
                                            <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.LabelUserEntry</label>
                                            <div class="col-sm-9 col-lg-8">
                                                @Html.TextBoxFor(model => Model.UserEntry, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divdateentry">
                                            <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.LabelDateEntry</label>
                                            <div class="col-sm-9 col-lg-8">
                                                @Html.TextBoxFor(model => Model.DateEntry, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divuserlastmaintenance">
                                            <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.LabelUserLastMaintenance</label>
                                            <div class="col-sm-9 col-lg-8">
                                                @Html.TextBoxFor(model => Model.UserLastMaintenance, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divdatelastmaintenance">
                                            <label class="col-sm-3 col-lg-4 control-label">@Resources.Resource.LabelDateLastMaintenance</label>
                                            <div class="col-sm-9 col-lg-8">
                                                @Html.TextBoxFor(model => Model.DateLastMaintenance, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group ">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="button-custom-style pull-right col-md-8 ">
                                            <button class="btn btn-primary" type="button" id="btnSaveRowCategory"><i class="fa fa-save"></i> @Resources.Resource.ButtonSave </button>
                                            <button class="btn btn-primary" type="button" id="btnDeleteRowCategory"><i class="fa fa-trash"></i> @Resources.Resource.ButtonDelete </button>
                                            <button class="btn btn-outline btn-default" type="button" id="btnCancelRowCategory"><i class="fa fa-close"></i> @Resources.Resource.ButtonCancel </button>
                                        </div>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        




        <script>
        //function OnloadFunction() { }
        $(document).ready(function () {
            $.getScript("../Scripts/main/Category.js", {
                cache: true
            }).done(
                function () {
                    @*var param = {};
                    param.attribute = {

                        "Info": "@Resources.Resource.LabelShowing",
                        "Page": "@Resources.Resource.LabelPage",
                        "Of": "@Resources.Resource.LabelOf",
                        "ZeroResult": "@Resources.Resource.LabelZeroResult",
                        "InfoEmpty": "@Resources.Resource.LabelInfoEmpty",
                        "Previous": "@Resources.Resource.LabelPrev",
                        "Next": "@Resources.Resource.LabelNext",
                        "Last": "@Resources.Resource.LabelLastPage",
                        "First": "@Resources.Resource.LabelFirstPage",
                        "To": "@Resources.Resource.LabelTo",
                        "Entries": "@Resources.Resource.LabelEntries",
                        "Warning": "@Resources.Resource.LabelWarning",
                        "PickOneData": "@Resources.Resource.AlertPickOneData",
                        "CanDelete": "@ViewBag.Role.BindDelete.ToString()",
                        "CanSave": "@ViewBag.Role.BindNew.ToString()",
                        "CanEdit": "@ViewBag.Role.BindEdit.ToString()",
                        "CanView": "@ViewBag.Role.BindView.ToString()",
                        "CanPrint": "@ViewBag.Role.BindPrintable.ToString()"
                    }*@
                    PCategory.init();
                }
            )
        });
        </script>

        @*<style>
               table.dataTable tbody tr.row_selected {
            background-color: #b0bed9;
                }
            </style>*@

</body>

</html>
